@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    width: 98vw;
    background: #e6e6e6;
    font-size: 1em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/*
*** Formatando o cabeçalho ***
*/

#area-cabecalho {
    background-color: #f7b600;
    padding: 17px; 
    text-align: center;
}

#area-cabecalho > #area-logo > h1#principal {
    font-size: 2.7em;
    color: #4e4e4e;
}

#area-cabecalho > #area-logo > h1#principal > .branco {
    color: #fff;
}

#area-cabecalho > #area-logo, #area-menu {
    margin: 15px;
}

#area-cabecalho > #area-menu > nav > a:link, a:visited {
    text-decoration: none;
    color: #ffffff;
    padding: 8px 12px;
    font-weight: bolder;
    font-size: 1.2em;
    border-radius: 4px;
}

#area-cabecalho > #area-menu > nav > a:hover {
    background-color: #fff;
    color: #f7b600;
    transition-duration: 0.4s;
    transition-timing-function: ease;
}

/*
*** Formatando a estrutura principal do site ***
*/

main {
    width: 1200px;
    margin: 0px auto;
    position: relative;
}

main > .conteudo-central {
    display: block;
    float: left;
    background-color: #ffffff;
    padding: 26px;
    margin: 15px;
    width: 800px;
    height: 600px;
    border-radius: 5px;
}


main > .conteudo-central > .principal {
    color: #f7b600;
    padding: 10px 10px 25px 10px;
}

main > .conteudo-central > .principal > p {
    color: #000;
}

main > .conteudo-central > a:link, a:visited {
    color: #f7b600;
    text-decoration: none;
}


main > .conteudo-central > a:hover {
    text-decoration: underline;
}

main > .conteudo-central > img {
    width: 100%;
    height: 70%;
}

main > #conteudo-lateral {
    float: right;
    width: 400px;
}

main > #conteudo-lateral > #area-lateral-um {
    position: absolute;
    top: 15px;
    right: 20px;
    margin: 0px 15px 15px 15px;
    padding: 10px;
    border-radius: 5px;
    width: 250px;
    background-color: #fff;
}

main > #conteudo-lateral > #area-lateral-um > h3 {
    background-color: gray;
    color: #CCC;
    padding: 5px;
    margin-bottom: 5px;
}

main > #conteudo-lateral > #area-lateral-um > p {
    font-weight: 500;
}

main > #conteudo-lateral > #area-lateral-um> hr {
    margin: 5px 0px;
}

main > #conteudo-lateral > #area-lateral-um > a {
    color: #f7b600;
    text-decoration: none;
    padding-bottom: 20px;
}

main > #conteudo-lateral > #area-lateral-um > a:hover {
    text-decoration: underline;
}

main > #conteudo-lateral > #area-lateral-dois {
    position: absolute;
    top: 280px;
    right: 25px;
    margin: 10px;
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
}

main > #conteudo-lateral > #area-lateral-dois > h3 {
    background-color: gray;
    color: #CCC;
    padding: 5px;
    margin-bottom: 5px;
}

main > #conteudo-lateral > #area-lateral-dois > ul > li > a {
    color: #f7b600;
    text-decoration: none;
}

main > #conteudo-lateral > #area-lateral-um > a:hover {
    text-decoration: underline;
}

/*
*** Formatando o rodapé ***
*/

div#rodape {
    position: relative;
}

div#rodape > footer {
    background-color: lightgray;
    position: absolute;
    top: 1400px;
    width: 1898px;
}

div#rodape > footer > p {
    padding: 15px;
    color: #000000;
    text-align: center;
    font-weight: bolder;
}